{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section id="login">
        <div class="wrapper">
            <div class="logo">
                <img src="https://www.freepnglogos.com/uploads/swirl-png/purple-swirl-transparent-png-art-2.png" alt="">
            </div>
            <div class="text-center mt-4 name">Movies</div>
            <form class="p-3 mt-3" method="post">
                <div class="form-field d-flex align-items-center">
                    <i class="bi bi-person"></i>
                    <input type="email" value="{{ last_username }}" name="email" id="email" placeholder="Mail" autocomplete="email" required autofocus>
                </div>
                <div class="form-field d-flex align-items-center">
                    <i class="bi bi-key"></i>
                    <input type="password" name="password" id="password" placeholder="Mot de passe" autocomplete="current-password" required>
                </div>
                <div  class="form-field-checkbox">
                    <input type="checkbox" name="_remember_me" checked>
                    <div>Se souvenir de moi</div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <button type="submit" class="btn mt-3">Login</button>
            </form>
            <div class="text-center fs-6">
                <a href="#">Forget password?</a> or <a href="#">Sign up</a>
            </div>
        </div>
    </section>
    

    {# {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %} #}
{% endblock %}
